/*salah satu bagian yang sering dipakai dalam design adalah warna, di sini kita akan menggunakan css untuk merubah warna dari element html*/
/*dalam design warna di css, ada 3 kode yang bisa kita taruh untuk menentukan warna yang ingin kita pakai , yaitu rgb, hex, dan hsl */

/*ketika kita ingin menambahkan background image menggunakan css, jangan lupa untuk menambahkan no-repeat agar gambar yang kita assign tidak berulang */
/*selain itu, ada border, margin dan padding sebagai 3 dasar dalam setiap element html*/

.color-design
{
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: fantasy;
}

.border-design
{
    border: 2px solid grey;
}

